[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IVPP"]
	path = IVPP
	url = https://github.com/xinkaidupsy/ivpp
[submodule "psychonetrics"]
	path = psychonetrics
	url = https://github.com/sachaepskamp/psychonetrics
	registered = false
